SPRING_PROFILES_ACTIVE=docker
DB_URL=jdbc:mysql://db:3306/devops_db?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=mock_user
DB_PASSWORD=mock_password
DDL_AUTO=update

MYSQL_ROOT_PASSWORD=mock_root_password
MYSQL_DATABASE=devops_db
MYSQL_USER=mock_user
MYSQL_PASSWORD=mock_password
